body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.intro{
    max-width: 800px;
    margin: 0 auto 40px; 
    line-height: 1.5; 
}

.volunteer-box {
    background-color: #D6EAF8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    text-align: center;
    max-width: 1000px;  
    margin: 0 auto 40px; 
}

.sponsor-box{
    background-color: #c5e6d2;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 1000px;  
    margin: 0 auto 40px; 
}

.question-box{
    display: flex;            
    flex-wrap: wrap;          
    gap: 20px;                
    max-width: 1000px;        
    margin: 0 auto;     
    background-color: #fff;
    flex: 1;                  
    min-width: 200px;         
    border-radius: 8px;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);   
    padding: 20px;
    border: 1px solid #ddd;
   
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .volunteer-btn {
    background-color: #391db4; 
    color: #fff;
  }
  
 
  .sponsor-btn {
    background-color: #388E3C; 
    color: #fff;
}